@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>
    This site was created by David Zhang, Neil Desai, and Caitlyn Low in Spring 2020.
    For questions or technical concerns, email Lou Camerlengo or Leigh Solomon Pugliano.

    Private information entered into the SVPP Data Hub is viewable by the administrators of the site.
</p>